---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Marquee from "../components/Marquee.astro";
import Skills from "../components/Skills.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";

import { personalInfo } from "../data/portfolio.js";
---

<Layout title={`Portofolio | ${personalInfo.name}`}>
  <Navbar />

  <main class="max-w-5xl mx-auto px-6 pt-32 pb-20 overflow-x-hidden">
    <Hero />

    <Marquee />

    <Skills />
    <Experience />
    <Projects />
    <Contact />
  </main>

  <Footer />
</Layout>
